*{
    margin: 0;
    padding:0;
}
.main-container{
display: flex;
justify-content: center;
margin-top: 50px;
}
form{
    background-color: black;
    color:white;
    height:380px;
    width:500px;
    text-align: center;
}
.text{
    background-color: green;
    margin-bottom: 20px;
}
p,button{
    margin-bottom: 20px;
}
h3{
    color:tomato;
    margin-bottom: 10px;
}
button{
    background-color:rgb(39,177,197);
    padding: 6px;
    font-weight:800;
    border-radius: 10px;
    border: 1px solid white;
}